<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Liste Comptes</title>

<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
<link rel="stylesheet"
	href="./webjars/fontawesome/css/fontawesome-all.css">

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</head>


<body>
	<div class="container">

		<h1>Liste Comptes</h1>
		
		<div class="row">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Numero Compte</th>
						<th>Solde</th>
						<th>Date d'Ouverture</th>
						<th>Compte Activé</th>
						<th>Code Client</th>
						<th>Code Responsable</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="compte : ${comptes}">
						<td th:text="${compte.numCompte}"></td>
						<td th:text="${compte.solde}"></td>
						<td th:text="${compte.dateCreation}"></td>
						<td th:text="${compte.etat}"></td>
						<td th:text="${compte.client?.code}"></td>
						<td th:text="${compte.employe?.code}"></td>
						<td><a th:href="@{/compte/detail/(id=${compte.id})}">Details</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>