<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content" class="container">


		<section class="jumbotron text-center">
			<div class="container">
				<h1 class="jumbotron-heading">Ouverture d'un Compte</h1>
				<p class="lead text-muted">Nouveau Compte</p>

				<div th:if="${successMessage}" class="alert alert-success"
					role="alert" th:utext="${successMessage}"></div>

				<div class="row">
					<div class="col-6 align-self-center">
						<form autocomplete="off" action="#"
							th:action="@{/compte/ouverture}" th:object="${compte}"
							method="post" class="form-horizontal" role="form">

							<!-- <h2>Registration Form</h2> -->

							<div class="form-group">
								<!-- <div class="col-9">
									<select class="custom-select">
										<option selected>Type de Compte</option>
										<option value="1">E</option>
										<option value="2">Employee</option>
										<option value="3">Caissier</option>
									</select>
								</div> -->
							</div>

							<div class="form-group">
								<label class="control-label">Le Client</label> <select
									class="form-control" th:name="idClient">
									<option value="">Choisir un Client</option>
									<option th:each="u:${users}" th:text="${u.firstName}"
										th:value="${u.id}"></option>
									<select />
							</div>

							<div class="form-group">
								<label class="control-label">L'Agence</label> <select
									class="form-control" type="text" th:name="idAgence">
									<option value="">Choisir un agence</option>
									<option th:each="a:${agences}" th:text="${a.numAgence}"
										th:value="${a.id}"></option>
									<select />
							</div>
							<div class="form-group">
								<div class="col-9">
									<label>Numero Compte</label> <input type="text"
										th:field="*{numCompte}" placeholder="Numero du compte"
										class="form-control" required>
								</div>
							</div>

							<div class="form-group">
								<div class="col-9">
									<label>Solde du Compte</label> <input type="text"
										th:field="*{solde}" placeholder="Solde du Compte"
										class="form-control" required>
								</div>
							</div>


							<div class="form-group">
								<div class="col-9">
									<button type="submit" class="btn btn-primary btn-block">VALIDER
										LA CREATION</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</section>

	</div>


</body>
</html>