<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Home</title>
</head>

<body>

	<div layout:fragment="content" class="container">

		<h1 class="h2">Accueil Admin</h1>

		<div class="card">
			<div class="panel panel-primary">
				<div class="card-header">
					<span th:utext="${userName}"></span>
				</div>
				<div class="card-body"></div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>
	</div>

</body>
</html>