<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content" class="container">

		<h1 class="h2">Liste Clients</h1>

		<div th:if="${successMessage}" class="alert alert-success"
			role="alert" th:utext="${successMessage}"></div>


		<a th:href="@{/user/client/ajout}" class="btn btn-secondary my-2" sec:authorize="hasAnyRole('ROLE_ADMIN' )">Ajouter
			un Client</a>

		<div class="row">
			<table class="table table-striped table-bordered" id="mydatatable">
				<thead>
					<tr>
						<th>IDENTIFIANT</th>
						<th>PRENOM</th>
						<th>NOM</th>
						<th>EMail</th>
						<!-- <th>Code Client</th> -->
						<th>CODE</th>
						<th>Actif</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${clients}">
						<td th:text="${u.id}"></td>
						<td th:text="${u.user.prenom}"></td>
						<td th:text="${u.user.nom}"></td>
						<td th:text="${u.user.email}"></td>
						<td th:text="${u.code}"></td>
						<!-- <td th:text="${u.user.employe?.code}"></td> -->
						<td><span th:class="badge"
							th:classappend="${u.user.actif} ? badge-success : badge-danger"
							th:text="${u.user.actif}"></span></td>
						</td>
						<td><a class="btn disabled "
							th:href="@{'/user/client/detail/' + ${u.id}}"><span
								data-feather="eye"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
</html>