<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<th:block th:fragment="footer">

		<footer>
			<div class="container" align=center style="background-color:#dcac40;" >
			
				<p>
				<th:src="@{/images/logo2.png}" width="100" height="30" alt="Gestion Banque logo" />
					&copy; Memorynotfound.com <span sec:authorize="isAuthenticated()"
						style="display: inline-block;"> | Logged user: <span
						sec:authentication="name"></span> | Roles: <span
						sec:authentication="principal.authorities"></span> | <a
						th:href="@{/logout}">Sign Out</a>
					</span>
				</p>
			</div>
		</footer>

		<script src="/webjars/jquery/jquery.min.js"></script>
		<script src="/webjars/popper.js/popper.min.js"></script>
		<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
		<script src="/js/feather.min.js"></script>

	</th:block>
</body>
</html>