<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="header">
<meta charset="UTF-8">
<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
<link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.css">
<link rel='stylesheet' href='/css/style.css'>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/popper.js/popper.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/feather.min.js"></script>

</head>

<body>
</body>

</html>