<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="header">

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
	<link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.css">
	<link rel='stylesheet' href='/css/style.css'>
	
	

</head>

<body>
</body>

</html>