<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Header</title>
</head>

<body>

	<nav
		class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow"
		th:fragment="navbar">

		<a class="navbar-brand" th:href="@{/}"> <img
			th:src="@{/images/logo2.png}" width="30" height="30" alt="Gestion Banque logo" />
		</a> <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Gestion
			Banque</a> <input class="form-control form-control-dark w-100"
			type="text" placeholder="Search" aria-label="Search">
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap"><a class="nav-link"
				th:href="@{/logout}">Déconnexion</a></li>
		</ul>
	</nav>

</body>

</html>