<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Registration Form</title>
<link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
<script src="/webjars/jquery/jquery.min.js"></script>
<!-- <script src="/webjars/popper/popper.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
	integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
	crossorigin="anonymous"></script> -->
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

	<main role="main">

	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Gestion banque</h1>
			<p class="lead text-muted">Connectez vous</p>
			<p><a href="#" class="btn btn-primary my-2">Main call to action</a>
			
			<a th:href="@{'/login'}" class=" btnbtn-primarymy-2">Login</a>
			</p>
		</div>
	</section>


	</main>


	<div class="container">
		<div class="row">
			<div class="col-6 col-md-offset-3">

				<form autocomplete="off" action="#" th:action="@{/registration}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<h2>Registration Form</h2>
					<div class="form-group">
						<div class="col-9">
							<label th:if="${#fields.hasErrors('firstName')}"
								th:errors="*{firstName}" class="validation-message"></label> <input
								type="text" th:field="*{firstName}" placeholder="First Name"
								class="form-control" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-9">
							<label th:if="${#fields.hasErrors('lastName')}"
								th:errors="*{lastName}" class="validation-message"></label> <input
								type="text" th:field="*{lastName}" placeholder="Last Name"
								class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" /> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
					</div>
					<div class="form-group">
						<div class="col-9">
							<input type="password" th:field="*{password}"
								placeholder="Password" class="form-control" /> <label
								th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
								class="validation-message"></label>
						</div>
					</div>

					<div class="form-group">
						<div class="col-9">
							<button type="submit" class="btn btn-primary btn-block">Register
								User</button>
						</div>
					</div>
					<div class="form-group">
						<div class="col-9">
							<button type="submit" class="btn btn-primary btn-block">Register
								User</button>
							<a th:href="@{/login}">view</a>

						</div>
					</div>


					<div th:if="${message}" class="alert alert-success" role="alert"
						th:utext="${successMessage}"></div>
			</div>
		</div>
	</div>

</body>
</html>