<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content" class="container">

		<p class="lead text-muted">Créer un nouveau Employe</p>

		<div th:if="${successMessage}" class="alert alert-success"
			role="alert" th:utext="${successMessage}"></div>

		<div class="row">
			<div class="col-6 align-self-center">
				<form autocomplete="off" th:action="@{/user/employe/ajout}"
					th:object="${user}" method="post" class="form-horizontal"
					role="form">
					<div>Info personelles</div>
					<div class="form-group">
						<div class="col-9">
							<label th:if="${#fields.hasErrors('prenom')}"
								th:errors="*{prenom}" class="validation-message"></label> <input
								type="text" th:field="*{prenom}" placeholder="Prénom"
								class="form-control" required>
						</div>
						<div class="col-9">
							<label th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"
								class="validation-message"></label> <input type="text"
								th:field="*{nom}" placeholder="Nom" class="form-control"
								required>
						</div>
					</div>
					<div class="form-group">
						<div class="col-9">
							<label th:if="${#fields.hasErrors('employe.code')}"
								th:errors="*{employe.code}" class="validation-message"></label>
							<input type="text" th:field="*{employe.code}" placeholder="Code"
								class="form-control" required>
						</div>
						<div class="col-9">
							<label th:if="${#fields.hasErrors('employe.poste')}"
								th:errors="*{employe.poste}" class="validation-message"></label>
							<input type="text" th:field="*{employe.poste}"
								placeholder="Poste" class="form-control" required>
						</div>
					</div>

					<!-- <div class="form-group">
						<label class="control-label">Type d'employé</label> <select
							id="segmentoSel" class="form-control" th:field="*{employe.type}"
							required>
							<option
								th:each="e : ${T(com.examen.GestionBanque.enums.EmployeType).values()}"
								th:value="${e}" th:text="${e}"></option>
						</select>
					</div> -->
					
					<select class="custom-select mb-2 mr-sm-2"
							th:field="*{type}" required>
							<option value="">Type d'employe...</option>
							<option th:each="ep : ${typeEmployes}" th:value="${ep}"
								th:text="${ep}"></option>
						</select>

					<div>Identifiant de connexion</div>
					<div class="form-group">
						<div class="col-9">
							<input type="text" th:field="*{email}" placeholder="Email"
								class="form-control" required> <label
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="validation-message"></label>
						</div>
						<div class="col-9">
							<input type="password" th:field="*{motDePasse}"
								placeholder="Mot de passe" class="form-control" required>
							<label th:if="${#fields.hasErrors('motDePasse')}"
								th:errors="*{password}" class="validation-message"></label>
						</div>
					</div>


					<div class="form-group">
						<div class="col-9">
							<button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
						</div>
					</div>

				</form>
			</div>
		</div>


	</div>


</body>
</html>