<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content" class="container">

		<h1 class="h2">Liste Clients</h1>

		<a th:href="@{ajout}" class="btn btn-secondary my-2" sec:authorize="hasAnyRole('ROLE_ADMIN')">Ajouter
			Employe</a>

		<div class="row">
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>IDENTIFIANT</th>
						<th>PRENOM</th>
						<th>NOM</th>
						<th>EMAIL</th>
						<th>CODE</th>
						<th>POSTE</th>
						<th>ACTIF</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${employes}">
						<td th:text="${e.id}"></td>
						<td th:text="${e.user.prenom}"></td>
						<td th:text="${e.user.nom}"></td>
						<td th:text="${e.user.email}"></td>
						<td th:text="${e.code}"></td>
						<td th:text="${e.poste}"></td>
						<td th:text="${e.user.actif}"></td>
						<td><a class="btn disabled "
							th:href="@{'/user/employe/detail/' + ${u.id}}"><span
								data-feather="eye"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
</html>